<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ.Properties.Settings.QLGaRaConnectionString" connectionString="Data Source=LAPTOP-4RL3TO82\PHUNMOC;Initial Catalog=QLGaRa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.QLGaRaConnectionString1"
            connectionString="Data Source=DESKTOP-F3GD5US\MAYAOTHIEN;Initial Catalog=QLGaRa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>